.menu-icon {
  font-size: 2rem;
  width: 2.5rem;
  margin: 0 0.25rem 0;
  text-align: center;
  color: #a4abb3;
}

.breadHomeElement {
    vertical-align: super;
}

.breadElement {
    display: inline;
    vertical-align: super;
}

nb-card nb-card-header {
    padding: 0.25rem !important;
}